
/////////////////////////////////////////////////
//                                             //
//   Robleto Family 2018                       //
//                                             //
/////////////////////////////////////////////////


// Variables  -------------- //

$base-font-color:	#444;
$headline-color: 	#000;

$bold-primary: 		#A5D289;
$bg-primary: 		#D8EBCC;


$text-font:			"acumin-pro-condensed", sans-serif;	
$headline-font:		"acumin-pro-extra-condensed", sans-serif;
$number-font:		"trajan-pro-3", times, serif;
$slab-serif-font: 	"chaparral-pro",serif;
$sans-serif-font: 	"proxima-nova", sans-serif;
$serif-font:		"times new roman", georgia, serif;




// Mixins  -------------- //

@mixin header-style {
	color: #fff;
	font-weight: 300;
	font-size: 300%;
	text-transform: uppercase;
	letter-spacing: .75rem;
	font-family: $serif-font;
}

@mixin sub-head-style {
	font-family: $sans-serif-font;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 5px;
}










// Page Grid Layout  -------------- //

section.panel {
	display: block;
	max-width: 1080px;
	margin: 0 auto 2rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	background-color: #fff;
	padding: 3rem;
}



// Base Styling  -------------- //

body {
	margin: 0px;
	font: 110% Helvetica, Arial, sans-serif;
	background-color: #f7f7f7;
	color: $base-font-color;
}

.logo {
	text-align: center;
	margin-bottom: 2rem;

	img {
		max-width: 100px;
		opacity: 0.25;
	}
}

.wrapper {
	padding: 1rem;
}


@media only screen and (min-width: 768px) {
	body {
		margin: 2rem 14rem;
	}
	.wrapper {
		padding: 3rem;
	}
}

@media only screen and (min-width: 1025px) {
	body {
		margin: 2rem auto;
	}
	.wrapper {
		padding: 1rem 3rem;
	}
}





// Base Styling  -------------- //

// .box {
// 	font-size: 100%;
// 	border-bottom: solid 2px #000;
// 	position: relative;

// 	h2 { 
// 		font-family: $number-font;
// 		color: $headline-color;
//  		font-size: 400%;
//  		float: left;
//  		font-size: 400%;
//  		margin: 0 0.5rem 0 0;
//  		padding: 0;
//  	}
// 	h3 { 
// 		margin: 0;
// 		padding: 0;
// 		color: $headline-color;
// 		font-family: $headline-font;
//  		font-size: 400%;
//  		text-transform: uppercase;
//  		&::after {
// 		  visibility: hidden;
// 		  display: block;
// 		  font-size: 0;
// 		  content: " ";
// 		  clear: both;
// 		  height: 0;
//  		}
// 	}

//  	img { 
//  		max-width: 100%;
//  	}
//  	p {
//  		font-family: $headline-font;
// 	 	font-size: 120%;
// 		margin-top:  0;
// 		margin-bottom: 1rem;
// 		line-height: 1.25;
// 	}
// 	figcaption {
// 		font-family: $slab-serif-font;
// 		font-size: 70%;
// 		line-height: 1;
// 		margin-bottom: 1rem;
//  		&:before {
//  			content: "▲";
//  			color: #8dc53f;
//  		}
// 	}
// 	@media only screen and (min-width: 1025px) {

// 	 	h2 {
// 			grid-area: number; 
// 			float: none;
// 	 		font-size: 500%;
// 	 		line-height: 0.9;
// 	 		margin: 0;
// 	 		padding: 0;
// 	 		align-self: start;
// 	 		justify-self: start;
// 	 	}
// 	 	h3 {
// 			grid-area: title; 
// 			float: none;
// 	 		font-size: 180%;
// 	 		align-self: start;
// 	 		justify-self: start;
// 	 	}
// 	 	p {
// 			grid-area: content; 
// 			font-size: 90%;
// 	 		align-self: start;
// 	 		justify-self: start;
// 	 		padding-right: 1rem;
// 	 	}

// 	}
// }




// // Header  -------------- //

// .box.header {
// 	margin: 0;
// 	padding: 0;
// 	border-bottom: solid 7px #000;

// 	h1 {
// 		margin: 0 0 3px 0;
// 		font-family: $headline-font;
// 		text-transform: uppercase;
// 		font-size: 550%;
// 		line-height: 1.0;
// 		border-bottom: solid 1px #000;
// 		color: $headline-color;

// 	}
// 	img {
// 		position: absolute;
// 		bottom: -10px;
// 		right: 0;
// 		width: 160px;
// 	}

// 	@media only screen and (min-width: 1025px) {
// 		h1 {
// 			font-size: 700%;
// 			padding-right: 0;
// 		}
// 		img {
// 			width: 220px;
// 		}

// 	}

// }







// Greeting Styling  -------------- //

#greetings {
	height: 100%;
	min-height: 750px;
	padding: 3rem;

	.box {
	position: relative;
	height: 100%;
	min-height: 700px;
	border: solid 20px $bold-primary;
	background-image: url(../../img/_2018/family2018.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	}

	h1 {
		margin-top: 475px; //fix this
		@include header-style;
		background-color: $bold-primary;
		padding: 0.75rem;
		text-align: right;
		padding-right: 50px;
	}
}







// 2018 Styling  -------------- //


#year2018 { 

	.wrapper {
		background-color: $bg-primary;
		display: grid;
		grid-template-columns: [full-start] 1fr [left-center] 1fr [right-center] 1fr [full-end];
		grid-gap: 3rem 5rem;
	}
	.header {
		grid-column: full-start / full-end; 
	}

	.lead {
		@include sub-head-style;
		padding-top: 2rem;
		display: block;
		text-align: center;
		font-size: 140%;
	}

	p {
		font-style: italic;
		font-size: 110%;
		text-align: center;
		font-family: $serif-font;
		line-height: 1.3;
		padding: 0 3rem;
		margin-top: -1rem;
	}

	h2 {
		@include header-style;
	    padding: 0;
	    margin: -30px auto 0;
	    text-align: center;
	    font-size: 1300%;
	}


	h3 {
		@include sub-head-style;
		border-bottom: solid 1px #aaa;
		padding-bottom: 0.5rem;
		text-align: center;
	}


	dt {
		display: inline;
		float: left;
		padding-right: .5rem;
		font-weight: 900;
		clear: both;
		&:after {
			content: ":"
		}
	}
	dd {
		display: inline-block;
		margin-left: 0;
		line-height: 1.15;
		clear: both;
	}
	dt.kandg {
		clear: both;
		padding-top: 2rem;
	}
}



#being-robleto {
	display: grid;
	grid-template-columns: [full-start] 1fr [left-center] 1fr [right-center] 1fr [full-end];
	grid-gap: 0;

	h2 {
	    text-align: center;
	    font-size: 400%;
	    font-weight: 300;
	    font-family: $serif-font;
	    color: $bold-primary;
	}
	img {
		border-radius: 4px;
	}


	.header {
		grid-column: full-start / full-end; 
	}

	.one {
		grid-column: 1;
		grid-row: 2 / 4;
	}

	.two {
		grid-column: 1;
		grid-row: 4 / 8;
	}

	.three {
		grid-column: 1;
		grid-row: 8 / 11;
	}

	.four {
		grid-column: 2;
		grid-row: 2 / 3;
	}

	.five {
		grid-column: 2;
		grid-row: 3 / 6;
	}

	.six {
		grid-column: 2;
		grid-row: 6 / 11;
	}

	.seven {
		grid-column: 3;
		grid-row: 2 / 5;
	}

	.eight {
		grid-column: 3;
		grid-row: 5 / 9;
	}

	.nine {
		grid-column: 3;
		grid-row: 9 / 11;
	}


	.box {
		border-bottom: dotted 2px #ccc;
		font-family: ff-dagny-web-pro,sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 130%;
		padding: 1rem 2rem;

		img {
			width: 100%;
		}
	}



	.one {
		@media only screen and (min-width: 1025px) {

			justify-self: start;
			align-self: start;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "text"
			    "image";

		 	img[src*="eagles"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 200px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 	}
		}
	}



	.two {
		@media only screen and (min-width: 1025px) {

			justify-self: start;
			align-self: start;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "text"
			    "image";

		 	img[src*="apple"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 200px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 	}
		}
	}


	.three {
		@media only screen and (min-width: 1025px) {

			border-bottom: none;
			justify-self: start;
			align-self: start;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "image"
			    "text";

		 	img[src*="apple"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 200px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 	}
		}
	}



	.four {
		@media only screen and (min-width: 1025px) {

			border-left: dotted 2px #ccc;
			border-right: dotted 2px #ccc;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "image text";

		 	img[src*="santa"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 90px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 		padding-left: 1rem;
		 	}
		}
	}


	.five {
		@media only screen and (min-width: 1025px) {

			border-left: dotted 2px #ccc;
			border-right: dotted 2px #ccc;
			justify-self: start;
			align-self: start;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "image"
			    "text";

		 	img[src*="renn"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 200px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 		padding-left: 1rem;
		 	}
		}
	}

	.six {
		@media only screen and (min-width: 1025px) {

			border-left: dotted 2px #ccc;
			border-right: dotted 2px #ccc;
			border-bottom: none;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "image1 image2"
			    "text text";

		 	img[src*="house"] { 
		 		max-width: 100%;
		 		grid-area: image1; 
		 		min-width: 90px;
		 	}
		 	img[src*="market"] { 
		 		max-width: 100%;
		 		grid-area: image2; 
		 		min-width: 90px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 	}
		}
	}


	.seven {
		@media only screen and (min-width: 1025px) {

			justify-self: start;
			align-self: start;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "image"
			    "text";

		 	img[src*="beanies"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 200px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 	}
		}
	}



	.eight {
		@media only screen and (min-width: 1025px) {

			justify-self: start;
			align-self: start;
			display: grid;
		    grid-template-columns: auto-fill minmax(120px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "image text";

		 	img[src*="yuck"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 70px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0.5rem;
		 	}
		}
	}



	.nine {
		@media only screen and (min-width: 1025px) {
			
			border-bottom: none;
			display: grid;
		    grid-template-columns: auto-fill minmax(150px, auto);
			grid-gap: 5px;
			grid-template-areas: 
			    "text image";

		 	img[src*="reading"] { 
		 		max-width: 100%;
		 		grid-area: image; 
		 		min-width: 90px;
		 	}
		 	p {
		 		grid-area: text; 
		 		align-self: start;
		 		margin: 0 0 1rem 0;
		 		padding-left: 1rem;
		 	}
		}
	}





}
