<div class="favs-container">
    <h2>What we enjoyed in 2022</h2>

    <aside class="fav-movies">
        <h4>Movies</h4>
        <p><em>RRR</em> • Wakanda Forever • The Batman • Everything Everywhere All At Once • Prey • Turning Red • The Sea Beast • The Bob's Burgers movie • Chip N' Dale Rescue Rangers</p>
         <img src="/img/2022/favs/rrr.png" class="rrr">
    </aside>


    <aside class="fav-games">
        <h4>Board &amp; Video Games</h4>
        <p><strong>Video:</strong> <em>Genshin Impact</em> • Lego Star Wars • Unpacking • Five Nights at Freddy's Security Breach • Kirby and the Forgotten Land • Splatoon 3. <strong>Board:</strong> Tuki • Durian • Taco Cat Goat Cheese Pizza</p>
         <img src="/img/2022/favs/genshin.png" class="genshin">
    </aside>


    <aside class="fav-books">
        <h4>Books</h4>
        <p><em>Carrie Soto is Back</em> • Radium Girls • The Family Upstairs • The 7 1/2 Death of Evelyn Hardcastle • Movies and Other Things • Manga • Komi Can't Communicate • Promised Neverland • Spy X Family • Kids • Warrioes • The One and Only Ivan • <em>Esperanza Rising</em> • Where the Mountain Meets the Moon</p>
         <img src="/img/2022/favs/carrie-soto.png" class="carrie-soto">
         <img src="/img/2022/favs/esperanza-rising.png" class="esperanza-rising">
    </aside>
    
    <aside class="fav-tv">
        <h4>TV Shows</h4>
        <p>Abbott Elementary • Letterkenny • Andor • <em>Peacemaker</em> • Ms. Marvel • Severance • House of the Dragon • She Hulk • Owl House • <em>Star vs. The Forces of Evil</em> • Masked Singer • Locke and Key • The After Party • Archive 81 • The Midnight Club</p>
         <img src="/img/2022/favs/peacemaker.png" class="peacemaker">
         <img src="/img/2022/favs/star-vs-forces-of-evil.png" class="star">
    </aside>


    <aside class="fav-live">
        <h4>Live Events</h4>
        <p><strong>Concerts:</strong> <em>Billie Eilish</em>, Johnnyswim, Andy Grammer, Fitz and the Tantrums, Breland, Debbie Gibbson, <em>Katelyn Tarver</em>.  <strong>Musicals:</strong> <em>Six</em>, Mean Girls, Hamilton, Hairspray, Masked Single Live</p>
         <img src="/img/2022/favs/billie-eilish.png" class="billie-eilish">
         <img src="/img/2022/favs/six.png" class="six">
         <img src="/img/2022/favs/katelyn-tarver.jpg" class="katelyn-tarver">
         <small>That's Ginelle meeting Katelyn Tarver whose music she really took to.</small>
    </aside>

</div>
<br />