<div class="palace-steps">
    <h1>Happy Holidays</h1>
    <h2>from the Robletos</h2>
    <h3>(and some of these photobombers)</h3> 
    <img src="/img/2022/front/pointsettia.png" class="pointsettia">
</div>
