<hr />
<div class="highlight-container">
    <h2>Highlight of 2022</h2>

    <p class="lede"><strong>By November</strong> we were ready for a major espace, when Selena's brother Dean suggested we see him in the Middle East, we gladly accepted. It was a much needed respite, a cultural awakening, and an adventure of a lifetime.</p>

    <aside class="bahrain">
        <h3>Bahrain</h3>
        <p>See this tiny country? This is where Dean is stationed. See this photo? We are sitting on his back patio. We woke up that morning taking a jump into the canal and palleboarding and kayaking</p>
        <img src="/img/2022/highlight/bahrain.jpg" class="bahrain">
    </aside>

    <aside class="abu-dhabi">
        <h3>Abu Dhabi, UAE</h3>
        <p>Where there's a Fast and Fuirous filming location, there's the (Robleto) #family</p>
        <img src="/img/2022/highlight/etihad-towers.jpg" class="etihad-towers">
        <img src="/img/2022/highlight/grand-mosque.jpg" class="grand-mosque">
    </aside>

    <aside class="dubai">
        <h3>Dubai, UAE</h3>
        <p>It's like Las Vegas, but 10x'd. We did a lot of shopping, looking at yachts and trying to soak in all the opulence and energy of the city.</p>
        <img src="/img/2022/highlight/fountains.jpg" class="fountains">
        <img src="/img/2022/highlight/souk.jpg" class="souk">
    </aside>


    <aside class="muscat">
        <h3>Muscat, Oman</h3>
        <p>Unfortunately, just a quick overnight.</p>
    </aside>
    <aside class="wadi-shab">
        <h3>Wadi Shab, Oman</h3>
        <p>A pretty crazy hike that ended in beautiful natural pools, cavers and waterfalls.</p>
        <img src="/img/2022/highlight/swimming.jpg" class="swimming">
        <img src="/img/2022/highlight/hiking.jpg" class="hiking">
    </aside>


    <aside class="desert-nights">
        <h3>Desert Nights Camp, Oman</h3>
        <p>Our "camping" experience came with one of the best meals of our lives, sandboarding, ATV riding and camels.</p>
        <img src="/img/2022/highlight/camels.jpg" class="camels">
        <img src="/img/2022/highlight/camping.jpg" class="camping">
    </aside>

    <aside class="jabal-shams">
        <h3>Jabal Shams, Oman</h3>
        <p>We take a recherous drive up a mountain to stay at a luxurious hotel with a gorgeous overlook of antural canyons and crevices in Oman.</p>
        <img src="/img/2022/highlight/path.jpg" class="path">
        <img src="/img/2022/highlight/pool.jpg" class="pool">
    </aside> 
    
    <img src="/img/2022/highlight/middle-east.png" class="middle-east">

<div>