    <hr />

<div class="matters-container">

    <h2>The things that matter&hellip;</h2>
    <p class="lede"><span class="sub-title">Our friends, #family, and animals</span> We've connected with more friends (old and new) and family, far and wide in 2022 than any other year. We cannot stress enough how much this fills our hearts and fed our souls, especially this past year. The people and activities in our lives from crafting lightsabers to making dumplins are the things that keep us going. <strong>If you are reading this, thank you for being in our lives</strong></p>

    <div class="img-batch batch1">
        <img src="/img/2022/matters/kangs.jpg" class="kangs">
        <img src="/img/2022/matters/selenafriend.jpg" class="selenafriend">
        <img src="/img/2022/matters/family.jpg" class="family">
    </div>

    <div class="img-batch batch2">
        <img src="/img/2022/matters/rebecca-todd.jpg" class="rebecca-todd">
        <img src="/img/2022/matters/fancynancy.jpg" class="fancynancy">
        <img src="/img/2022/matters/dnd.jpg" class="dnd">
        <img src="/img/2022/matters/friends.jpg" class="friends">
   </div>

    <div class="img-batch batch3">
        <img src="/img/2022/matters/snl.jpg" class="snl">
        <img src="/img/2022/matters/lightsabers.jpg" class="lightsabers">
        <img src="/img/2022/matters/dumplings.jpg" class="dumplings">
        <img src="/img/2022/matters/hawmans.jpg" class="hawmans">
        <img src="/img/2022/matters/wedding.jpg" class="wedding">
    </div>

    <div class="col2">
        <p><strong>Our kids staying active.</strong> Skateboarding, swim, dive, tennis, music anad Kaylee's first hands-on theatre experience running tech!</p>
        <div class="img-batch batch4">
            <img src="/img/2022/matters/kaylee-backstage.jpg" class="kaylee-backstage">
            <img src="/img/2022/matters/ginelle-pool.jpg" class="ginelle-pool">
        </div>
        <p><strong>Our Community</strong> Greg serving on the pool board as tennis char, a local board game convention, a Little Free Library party and the return of the apple butter cookoff!</p>
        <p><strong>Our mental health</strong> Greg took a long-deserved sabbatical from work starting in fall to recharge</p>
    </div>


    <div class="col3">        
        <div class="img-batch batch5">
            <img src="/img/2022/matters/pittsburgh.jpg" class="pittsburgh">
            <img src="/img/2022/matters/new-jersey.jpg" class="new-jersey">
        </div>
        <p><strong>Our Travels</strong> In addition to our big trip, there were two other firsts for us. We visited Pittsburge, PA and also discovered the adorable Disney-eseque town of Smithville, ND when we attended our first wedding n years of our friend Nicole.</p> 
    </div>

</div>