<div class="memorial-container">
    <h2>Before we get started...</h2>
    <p class="before">While there was so much that brought us joy, this year was not without its challenges.</p>

    <img src="/img/2022/memorial/dad.jpg" class="dad-photo">
    <small>Dad on his only trip with us to Deep Creek Lake, doing what he did best, making people laugh.</small>
    <p class="dad">Early 2022 was consumed with the declining health and eventual passing of Greg's dad on March 9, 2022. In the months prior, we tried to take as much advantage as we could of our time with him, and created memories that will be cherished forever.  Our hearts were completely broken by the loss and we were deeply touched and grateful for our expansive support network.</p>
    
    <img src="/img/2022/memorial/bailey.jpg" class="bailey-photo">
    <p class="bailey">Exactly four months to the day after one loss, we suffered another. This time, it was our dear dog Bailey. We had some rocky beginnings but he provied to be the most loyal pet we have ver had. We love dhim so hard, and vice versa.</p>

    <img src="/img/2022/front/pointsettia.png" class="pointsettia">
</div>