---
layout: layouts/base.njk
---


<main>

    <!-- Card Front -->
    <section id="front" class="panel front">
        {% include "pages/_2022/front.njk" %}
    </section>

    <!-- Card Memorial -->
    <section id="memorial" class="panel memorial">
        {% include "pages/_2022/memorial.njk" %}
    </section>

    <!-- Card Favs -->
    <section id="favs" class="panel favs">
        {% include "pages/_2022/favs.njk" %}
    </section>

    <!-- Card Highlight -->
    <section id="highlight" class="panel highlight">
        {% include "pages/_2022/highlight.njk" %}
    </section>
    
    <!-- Card Matters -->
    <section id="matters" class="panel matters">
        {% include "pages/_2022/matters.njk" %}
    </section>
    

</main>
