/*----------------------------------------
General Styles
----------------------------------------*/
:root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

p, li, small {
  margin: 0;
  padding: 0;
}

.thin {
  font-weight: 300;
}

.semi-bold {
  font-weight: 600;
}

strong, b, .bold {
  font-weight: 700;
}

dfn, cite, em, i {
  font-style: italic;
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: proxima-nova, sans-serif;
}

hr {
  max-width: 992px;
  margin-top: 5vmin;
  border: none;
  border-bottom: dotted 5px #efefef;
}

/*----------------------------------------
2022 Card Front
----------------------------------------*/
section.panel.front {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
  background: linear-gradient(#9a0a0e, #3a0405);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.panel.front .palace-steps {
  aspect-ratio: 4/5;
  background: transparent url("/img/2022/front/card-cover.jpg") center center no-repeat;
  background-size: cover;
  transform: rotate(-5deg);
  display: grid;
  grid-template-columns: [first] 20% 80% [end];
  grid-template-rows: [first] 25% 40% 35% [end];
  grid-gap: 1vmin;
  margin-left: -5vmin;
  width: 100vmin;
  border: solid 10px #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 9;
}
@media (min-width: 992px) {
  section.panel.front .palace-steps {
    width: 60vmin;
  }
}
section.panel.front .palace-steps h1 {
  font-family: shelby, cursive;
  color: #fefefe;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  white-space: nowrap;
  font-size: 20vmin;
  text-shadow: #9a0a0e 0.5vmin 0.5vmin;
  text-align: center;
}
@media (min-width: 992px) {
  section.panel.front .palace-steps h1 {
    font-size: 14vmin;
  }
}
section.panel.front .palace-steps h2 {
  grid-column: 1/-1;
  grid-row: 3/-1;
  color: #9a0a0e;
  justify-self: center;
  align-self: center;
  white-space: nowrap;
  margin-bottom: 4rem;
  font-size: 8vmin;
}
@media (min-width: 992px) {
  section.panel.front .palace-steps h2 {
    grid-column: 2/-1;
    font-size: 4.5vmin;
    line-height: 1.15;
  }
}
section.panel.front .palace-steps h3 {
  grid-column: 1/-1;
  grid-row: 3/-1;
  color: #9a0a0e;
  font-weight: 400;
  justify-self: center;
  align-self: center;
  margin-top: 10rem;
  font-size: 5vmin;
}
@media (min-width: 992px) {
  section.panel.front .palace-steps h3 {
    grid-column: 2/-1;
    font-size: 2.5vmin;
    line-height: 1.15;
    margin-top: 6rem;
  }
}
section.panel.front .pointsettia {
  justify-self: end;
  align-self: end;
  width: 60vmin;
  z-index: 99;
  position: absolute;
  bottom: -25vmin;
  left: -25vmin;
}
@media (min-width: 992px) {
  section.panel.front .pointsettia {
    width: 40vmin;
    bottom: -5vmin;
    left: -20vmin;
  }
}

/*----------------------------------------
2022 Card Favs
----------------------------------------*/
section.panel.favs {
  width: 100vw;
}
section.panel.favs div.favs-container {
  max-width: 992px;
  margin: 0 auto;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: [first] repeat(2, auto) [end];
  padding: 5vmin;
  grid-gap: 3vmin 5vmin;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container {
    grid-gap: 3vmin 5vmin;
  }
}
section.panel.favs div.favs-container h2 {
  color: #9a0a0e;
  font-weight: bold;
  grid-column: 1/-1;
  grid-row: 1/2;
  font-size: 5vmin;
}
section.panel.favs div.favs-container aside {
  grid-column: span 2;
  display: grid;
  grid-template-columns: [first] 1.5fr 1fr 1fr 1fr 1.5fr [end];
  grid-template-rows: [first] 4vmin auto [end];
  grid-gap: 0.5rem;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container aside {
    grid-column: span 1;
  }
}
section.panel.favs div.favs-container aside h4 {
  grid-column: 1/-1;
  grid-row: 1/2;
  text-transform: uppercase;
  font-size: 2vmin;
  color: #58585a;
  border-bottom: solid 0.25rem #d8d8d9;
}
section.panel.favs div.favs-container aside p {
  grid-column: 1/5;
  grid-row: 2/3;
  font-size: 1.6rem;
  justify-self: start;
  align-self: start;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container aside p {
    font-size: 1.6vmin;
    line-height: 1.3;
  }
}
section.panel.favs div.favs-container aside img {
  grid-column: 5/-1;
  grid-row: 1/3;
}
section.panel.favs div.favs-container aside em {
  color: #9a0a0e;
  font-weight: bold;
  font-style: normal;
}
section.panel.favs div.favs-container aside small {
  color: #9a0a0e;
  font-weight: bold;
  font-size: 2vmin;
  line-height: 1;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container aside small {
    font-size: 1.5vmin;
  }
}
section.panel.favs div.favs-container aside.fav-games img {
  grid-row: 1/3;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container aside.fav-games img {
    grid-row: 2/3;
    margin-top: -2vmin;
  }
}
section.panel.favs div.favs-container aside.fav-movies h4 {
  grid-column: 3/-1;
}
section.panel.favs div.favs-container aside.fav-movies p {
  grid-column: 3/-1;
}
section.panel.favs div.favs-container aside.fav-movies img {
  grid-column: 1/3;
  grid-row: 1/3;
}
section.panel.favs div.favs-container aside.fav-books h4, section.panel.favs div.favs-container aside.fav-books p {
  grid-column: 2/-1;
  padding: 0 2rem;
}
section.panel.favs div.favs-container aside.fav-books img.esperanza-rising {
  transform: rotate(5deg);
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 15vmin;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container aside.fav-books img.esperanza-rising {
    margin-top: 10vmin;
  }
}
section.panel.favs div.favs-container aside.fav-books img.carrie-soto {
  transform: rotate(-5deg);
  grid-column: 1/2;
  grid-row: 1/3;
}
section.panel.favs div.favs-container aside.fav-tv p {
  padding-right: 4vmin;
}
section.panel.favs div.favs-container aside.fav-tv img.star {
  margin-left: -8vmin;
  margin-top: 14vmin;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container aside.fav-tv img.star {
    margin-left: -4vmin;
  }
}
section.panel.favs div.favs-container aside.fav-live {
  grid-column: 1/-1;
  grid-template-columns: [first] 1.5fr 1fr 1fr 1fr 1.5fr [end];
}
section.panel.favs div.favs-container aside.fav-live p {
  padding-right: 4vmin;
  grid-column: 1/4;
}
section.panel.favs div.favs-container aside.fav-live img.billie-eilish {
  grid-column: 5/6;
  grid-row: 1/2;
  max-height: 15vmin;
  justify-self: end;
}
section.panel.favs div.favs-container aside.fav-live img.katelyn-tarver {
  transform: rotate(-5deg);
  z-index: 9;
  grid-column: 4/6;
  grid-row: 1/3;
  max-height: 25vmin;
}
section.panel.favs div.favs-container aside.fav-live img.six {
  grid-column: 2/4;
  grid-row: 2/-1;
  z-index: 999;
  align-self: end;
  margin-bottom: -3vmin;
  max-height: 15vmin;
}
section.panel.favs div.favs-container aside.fav-live small {
  grid-column: 5/6;
  grid-row: 2/3;
  z-index: 99;
  text-align: center;
}
@media (min-width: 768px) {
  section.panel.favs div.favs-container aside.fav-live small {
    align-self: end;
    margin-left: 10vmin;
  }
}

/*----------------------------------------
2022 Card Front
----------------------------------------*/
section.panel.memorial {
  width: 100vw;
  background: linear-gradient(#220203, black);
}
section.panel.memorial div.memorial-container {
  max-width: 992px;
  margin: 0 auto;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: [first] repeat(12, 1fr) [end];
  grid-template-rows: [first] 9vmin repeat(4, auto) [end];
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 5vmin 5vmin;
  color: #fefefe;
  padding: 5vmin;
}
section.panel.memorial div.memorial-container h2 {
  color: #fefefe;
  font-weight: bold;
  grid-column: 1/-1;
  grid-row: 1/2;
  font-size: 5vmin;
  align-self: start;
}
section.panel.memorial div.memorial-container p.before {
  color: #fefefe;
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;
}
section.panel.memorial div.memorial-container img {
  border: solid 1vmin #fefefe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
section.panel.memorial div.memorial-container p {
  font-size: 2.5vmin;
  line-height: 1.3;
}
@media (min-width: 992px) {
  section.panel.memorial div.memorial-container p {
    font-size: 2.2vmin;
  }
}
section.panel.memorial div.memorial-container img.dad-photo {
  grid-column: 2/-2;
  grid-row: 3/5;
  justify-self: center;
  aspect-ratio: 7/5;
  transform: rotate(-5deg);
}
@media (min-width: 992px) {
  section.panel.memorial div.memorial-container img.dad-photo {
    grid-column: 1/7;
    grid-row: 2/4;
  }
}
section.panel.memorial div.memorial-container small {
  grid-column: 6/-2;
  grid-row: 5/6;
  align-self: start;
  text-align: left;
  font-weight: bold;
  font-size: 1.5vmin;
  line-height: 1.3;
  opacity: 0.5;
}
@media (min-width: 992px) {
  section.panel.memorial div.memorial-container small {
    font-size: 1.25vmin;
    grid-column: 1/5;
    grid-row: 3/4;
    justify-self: end;
    align-self: end;
  }
}
section.panel.memorial div.memorial-container p.dad {
  grid-column: 2/-2;
  grid-row: 2/3;
  align-self: start;
}
@media (min-width: 992px) {
  section.panel.memorial div.memorial-container p.dad {
    grid-column: 7/-1;
    grid-row: 2/6;
  }
}
section.panel.memorial div.memorial-container p.bailey {
  grid-column: 2/-2;
  grid-row: 6/7;
  align-self: center;
}
@media (min-width: 992px) {
  section.panel.memorial div.memorial-container p.bailey {
    grid-column: 2/6;
    grid-row: 4/6;
    font-weight: 400;
  }
}
section.panel.memorial div.memorial-container img.bailey-photo {
  grid-column: 1/8;
  grid-row: 7/9;
  justify-self: end;
  transform: rotate(5deg);
}
@media (min-width: 992px) {
  section.panel.memorial div.memorial-container img.bailey-photo {
    grid-column: 6/10;
    grid-row: 4/6;
    transform: rotate(-5deg);
  }
}
section.panel.memorial div.memorial-container img.pointsettia {
  filter: brightness(60%);
  border: none;
  box-shadow: none;
  z-index: 999;
  align-self: end;
  grid-column: 6/-1;
  grid-row: 4/10;
}
@media (min-width: 992px) {
  section.panel.memorial div.memorial-container img.pointsettia {
    grid-column: 8/12;
    grid-row: 4/6;
  }
}

/*----------------------------------------
2022 Card Highlight
----------------------------------------*/
section.panel.highlight {
  width: 100vw;
}
section.panel.highlight div.highlight-container {
  max-width: 992px;
  margin: 0 auto;
  scroll-snap-align: start;
  padding: 5vmin;
  position: relative;
  grid-gap: 1vmin 3vmin;
  grid-template-columns: [first] 1fr [end];
  /* Bahrain */
  /* Abu Dhabi */
  /* Dubai */
  /* Muscat */
  /* Wadi Shab */
  /* Desert Nights */
  /* Desert Nights */
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container {
    display: grid;
    grid-template-columns: [first] repeat(11, 1fr) [end];
    grid-template-rows: [first] 8vmin repeat(9, auto) [end];
    grid-auto-rows: minmax(20px, auto);
  }
}
@media (min-width: 1200px) {
  section.panel.highlight div.highlight-container {
    height: 100vh;
  }
}
section.panel.highlight div.highlight-container h2 {
  color: #9a0a0e;
  font-weight: bold;
  align-self: center;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 4.5vmin;
  }
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container p.lede {
    grid-column: 1/6;
    grid-row: 2/4;
    font-size: 1.8vmin;
  }
}
section.panel.highlight div.highlight-container img.middle-east {
  grid-column: 1/12;
  grid-row: 4/10;
  z-index: -999;
}
section.panel.highlight div.highlight-container aside {
  background-color: #efefef;
  border-top: solid 0.5vmin #231f20;
  margin: 5vmin 0;
  padding: 2.5vmin;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vmin auto;
  grid-gap: 0.5vmin 1.5rem;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside {
    padding: 1.5vmin;
    margin: 0;
    grid-template-rows: 2vmin auto;
  }
}
section.panel.highlight div.highlight-container aside h3 {
  color: #9a0a0e;
  line-height: 1.15;
  grid-column: 1/2;
  grid-row: 1/2;
}
section.panel.highlight div.highlight-container aside p {
  padding: 1vmin 0 5vmin 0;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: start;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside p {
    font-size: 1.4vmin;
    padding: 0;
  }
}
section.panel.highlight div.highlight-container aside img {
  object-fit: cover;
  align-self: start;
  height: 100%;
  max-height: 16rem;
  grid-column: 2/3;
  grid-row: 1/3;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.bahrain {
    grid-column: 1/6;
    grid-row: 3/5;
  }
}
section.panel.highlight div.highlight-container aside.abu-dhabi {
  grid-template-rows: 10vmin auto;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.abu-dhabi {
    grid-column: 1/4;
    grid-row: 5/9;
    grid-template-rows: 2.5vmin auto;
  }
}
section.panel.highlight div.highlight-container aside.abu-dhabi h3 {
  grid-row: 1/2;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.abu-dhabi h3 {
    grid-column-end: -1;
  }
}
section.panel.highlight div.highlight-container aside.abu-dhabi p {
  grid-row: 2/3;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.abu-dhabi p {
    grid-column-end: -1;
  }
}
section.panel.highlight div.highlight-container aside.abu-dhabi img.etihad-towers {
  grid-row: 1/3;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.abu-dhabi img.etihad-towers {
    grid-column: 1/-1;
    grid-row: 3/3;
  }
}
section.panel.highlight div.highlight-container aside.abu-dhabi img.grand-mosque {
  grid-row: 3/4;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.abu-dhabi img.grand-mosque {
    grid-column: 1/-1;
    grid-row: 4/4;
  }
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.dubai {
    grid-column: 6/9;
    grid-row: 1/4;
  }
}
section.panel.highlight div.highlight-container aside.dubai h3, section.panel.highlight div.highlight-container aside.dubai p {
  grid-column-end: -1;
}
section.panel.highlight div.highlight-container aside.dubai img.fountains {
  grid-column: 1/2;
  grid-row: 3/4;
}
section.panel.highlight div.highlight-container aside.dubai img.souk {
  grid-column: 2/3;
  grid-row: 3/4;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.muscat {
    grid-column: 9/12;
    grid-row: 2/3;
  }
}
section.panel.highlight div.highlight-container aside.muscat h3, section.panel.highlight div.highlight-container aside.muscat p {
  grid-column-end: -1;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.wadi-shab {
    grid-column: 9/12;
    grid-row: 3/6;
  }
}
section.panel.highlight div.highlight-container aside.wadi-shab h3, section.panel.highlight div.highlight-container aside.wadi-shab p {
  grid-column-end: -1;
}
section.panel.highlight div.highlight-container aside.wadi-shab img.swimming {
  grid-column: 1/2;
  grid-row: 3/4;
}
section.panel.highlight div.highlight-container aside.wadi-shab img.hiking {
  grid-column: 2/3;
  grid-row: 3/4;
}
section.panel.highlight div.highlight-container aside.desert-nights {
  grid-template-rows: 10vmin auto;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.desert-nights {
    grid-column: 8/12;
    grid-row: 8/9;
    grid-template-rows: 5vmin auto;
  }
}
section.panel.highlight div.highlight-container aside.desert-nights p {
  grid-row: 2/4;
}
section.panel.highlight div.highlight-container aside.desert-nights img.camels {
  grid-row: 1/3;
}
section.panel.highlight div.highlight-container aside.desert-nights img.camping {
  grid-row: 3/4;
}
section.panel.highlight div.highlight-container aside.jabal-shams {
  grid-template-rows: 10vmin auto;
}
@media (min-width: 768px) {
  section.panel.highlight div.highlight-container aside.jabal-shams {
    grid-column: 4/8;
    grid-row: 7/9;
    grid-template-rows: 5vmin auto;
  }
}
section.panel.highlight div.highlight-container aside.jabal-shams p {
  grid-row: 2/4;
}
section.panel.highlight div.highlight-container aside.jabal-shams img.path {
  grid-row: 1/3;
}
section.panel.highlight div.highlight-container aside.jabal-shams img.pool {
  grid-row: 3/4;
}

/*----------------------------------------
2022 Card Matters
----------------------------------------*/
section.panel.matters {
  width: 100vw;
}
section.panel.matters div.matters-container {
  max-width: 992px;
  margin: 0 auto;
  scroll-snap-align: start;
  padding: 5vmin;
  position: relative;
  grid-template-columns: [first] 1fr [end];
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  section.panel.matters div.matters-container {
    display: grid;
    grid-template-columns: [first] repeat(11, 1fr) [end];
    grid-template-rows: [first] 8vmin repeat(6, auto) [end];
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 1vmin;
  }
}
@media (min-width: 1200px) {
  section.panel.matters div.matters-container {
    height: 100vh;
  }
}
section.panel.matters div.matters-container h2 {
  color: #9a0a0e;
  font-weight: bold;
  align-self: center;
}
@media (min-width: 768px) {
  section.panel.matters div.matters-container h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 4vmin;
  }
}
@media (min-width: 768px) {
  section.panel.matters div.matters-container p.lede {
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 1.8vmin;
  }
}
@media (min-width: 1200px) {
  section.panel.matters div.matters-container p.lede {
    font-size: 1.6vmin;
  }
}
section.panel.matters div.matters-container p.lede span {
  font-size: 130%;
  font-weight: bold;
  display: block;
}
section.panel.matters div.matters-container img {
  border: solid 1vmin #fefefe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
section.panel.matters div.matters-container .img-batch {
  display: grid;
  padding: 0 10vmin;
}
section.panel.matters div.matters-container .img-batch img:nth-child(1) {
  transform: rotate(-5deg);
  z-index: 2;
  align-self: end;
  grid-area: img1;
}
section.panel.matters div.matters-container .img-batch img:nth-child(2) {
  transform: rotate(-2deg);
  z-index: 4;
  align-self: end;
  grid-area: img2;
}
section.panel.matters div.matters-container .img-batch img:nth-child(3) {
  transform: rotate(5deg);
  z-index: 1;
  align-self: start;
  grid-area: img3;
}
section.panel.matters div.matters-container .img-batch img:nth-child(4) {
  transform: rotate(-2deg);
  z-index: 3;
  align-self: start;
  grid-area: img4;
}
section.panel.matters div.matters-container .img-batch img:nth-child(5) {
  transform: rotate(-2deg);
  z-index: -1;
  align-self: start;
  grid-area: img5;
}
@media (min-width: 768px) {
  section.panel.matters div.matters-container .img-batch {
    grid-auto-rows: minmax(4vmin, 8vmin);
    grid-column: 4/7;
    grid-row: 2/4;
    padding: 0;
  }
}
section.panel.matters div.matters-container .batch1 {
  z-index: 1;
  margin-top: 3vmin;
  align-self: center;
  grid-template-areas: "img1 img2" "img3 img3";
}
section.panel.matters div.matters-container .batch1 img.family {
  margin-top: -5vmin;
}
@media (min-width: 768px) {
  section.panel.matters div.matters-container .batch1 {
    grid-column: 4/7;
    grid-row: 2/3;
  }
}
section.panel.matters div.matters-container .batch2 {
  grid-column: 1/4;
  grid-row: 3/4;
  z-index: 2;
  align-self: center;
  grid-template-areas: "img1 img2" "img3 img4";
}
section.panel.matters div.matters-container .batch3 {
  grid-column: 4/7;
  grid-row: 3/4;
  z-index: 3;
  align-self: start;
  grid-template-areas: "img1 img2" "img1 img3" "img4 img5";
}
section.panel.matters div.matters-container .batch3 img.dumplings {
  margin-top: -2vmin;
}
section.panel.matters div.matters-container .col2 {
  grid-column: 7/10;
  grid-row: 1/4;
  margin: 0 2.5vmin;
  padding: 0 2.5vmin;
  border-left: solid 1px #efefef;
  border-right: solid 1px #efefef;
  display: flex;
  flex-direction: column;
  row-gap: 2vmin;
}
section.panel.matters div.matters-container .col2 .img-batch.batch4 {
  grid-auto-rows: auto;
  grid-template-areas: "img1 img2";
}
section.panel.matters div.matters-container .col3 {
  grid-column: 10/12;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
}
section.panel.matters div.matters-container .col3 .img-batch.batch5 {
  grid-auto-rows: auto;
  grid-template-areas: "img1" "img2";
}
section.panel.matters div.matters-container .col3 p {
  margin-top: 3vmin;
}

/*# sourceMappingURL=card2022.css.map */
